## Ignore catkin_make build files/directories
build/
devel/

## Ignore file generated through catkin_init_workspace
src/CMakeLists.txt
.catkin_workspace

## Ignore .vscode directory
.vscode/

## Except for (include) .vscode/settings.json from base
!.vscode/settings.json

## 'priv-' prefix to create private files
priv-*

## Ignore compile_commands
*/compile_commands.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
